<md-switch ng-model="Create.forum" aria-label="forum">
  <h3 class="md-title">{{'course.forum' | translate}}</h3>
</md-switch>
<div ng-if="Create.forum">
  <div layout="column">
    <md-switch class="sub-switch" ng-model="Create.threadedConversations" aria-label="threadedConversations">
      <p class="md-body-1">{{'course.threadedConversations' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.taggingOfUsers" aria-label="taggingOfUsers">
      <p class="md-body-1">{{'course.taggingOfUsers' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.forumNotifications" aria-label="forumNotifications">
      <p class="md-body-2">{{'course.notifications' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="Create.forumNotifications">
      <md-switch class="sub-switch child" ng-model="Create.emailNotifications" aria-label="emailNotifications">
        <p class="md-body-1">{{'course.emailNotifications' | translate}}
          <md-tooltip md-direction="right">
            text of respective forum post in email
          </md-tooltip>
        </p>
      </md-switch>
    </div>
    <md-switch class="sub-switch" ng-model="Create.taggingOfUserGroups" aria-label="taggingOfUserGroups">
      <p class="md-body-2">{{'course.taggingOfUserGroups ' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="Create.taggingOfUserGroups">
      <md-switch class="sub-switch child" ng-model="Create.forumTeachers" aria-label="forumTeachers">
        <p class="md-body-1">{{'course.teachers' | translate}}</p>
      </md-switch>
      <md-switch class="sub-switch child" ng-model="Create.forumStudents" aria-label="forumStudents">
        <p class="md-body-1">{{'course.students' | translate}}</p>
      </md-switch>
      <md-switch class="sub-switch child" ng-model="Create.TaggingForumNotifications" aria-label="forumNotifications">
        <p class="md-body-2">{{'course.notifications' | translate}}</p>
      </md-switch>
      <div class="column" ng-if="Create.TaggingForumNotifications">
        <md-switch class="sub-switch sub-child" ng-model="Create.emailNotifications" aria-label="emailNotifications">
          <p class="md-body-1">{{'course.emailNotifications' | translate}}
            <md-tooltip md-direction="right">
              text of respective forum post in email
            </md-tooltip>
          </p>
        </md-switch>
      </div>
    </div>
    <md-switch class="sub-switch" ng-model="Create.quoteFromForums" aria-label="quoteFromForums">
      <p class="md-body-1">{{'course.quoteFromForums ' | translate}}
        <md-tooltip md-direction="right">
          include forum post elsewhere, link to original post
        </md-tooltip>
      </p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.embedContentInForumPost" aria-label="embedContentInForumPost">
      <p class="md-body-2">{{'course.embedContentInForumPost ' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="Create.embedContentInForumPost">
      <md-switch class="sub-switch child" ng-model="Create.video" aria-label="video">
        <p class="md-body-1">{{'course.video ' | translate}}</p>
      </md-switch>
      <md-switch class="sub-switch child" ng-model="Create.pictures" aria-label="pictures">
        <p class="md-body-1">{{'course.pictures ' | translate}}</p>
      </md-switch>
    </div>
    <md-switch class="sub-switch" ng-model="Create.upvotingDownvoting" aria-label="upvotingDownvoting" ng-true-value="'upvoting'" ng-false-value="'downvoting'">
      <p class="md-body-1">{{'upvotingDownvoting' | translate}}: {{Create.upvotingDownvoting}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.createTopics" aria-label="createTopics">
      <p class="md-body-1">{{'course.createTopics' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.createThreads" aria-label="createThreads">
      <p class="md-body-1">{{'course.createThreads' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.sortForum" aria-label="sortForum">
      <p class="md-body-1">{{'course.sortForum' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.filterForum" aria-label="filterForum">
      <p class="md-body-1">{{'course.filterForum' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.embedExternalLinks" aria-label="embedExternalLinks">
      <p class="md-body-1">{{'course.embedExternalLinks' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="Create.embedInternalLinks" aria-label="embedInternalLinks">
      <p class="md-body-1">{{'course.embedInternalLinks' | translate}}</p>
    </md-switch>
  </div>
</div>
