<md-dialog aria-label="Add new file">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'storage.addNewFile' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="::FileUpload.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout="column">
        {{FileUpload.file}}
        <md-button ngf-select="FileUpload.upload($file, $invalidFiles, $event)"
                   accept="{{::FileUpload.acceptFile}}"
                   ng-model="::FileUpload.file"
                   name="avatar"
                   md-no-ink class="md-primary"
                   ng-hide="::MyProfileCtrl.avatar">
            {{'addFile' | translate}}
       </md-button>
        <md-button aria-label="remove pdf"  ng-show="MyProfileCtrl.avatar" class="md-primary" ng-click="MyProfileCtrl.removeImage()">
            {{'removeFile' | translate}}
        </md-button>
        <md-progress-circular ng-show="MyProfileCtrl.uploading" md-mode="indeterminate"></md-progress-circular>
        <md-input-container>
          <label>{{ 'storage.fileDescription' | translate}}</label>
          <input ng-model="user.email" type="text">
        </md-input-container>
        <md-button class="md-raised md-primary">upload</md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
