<md-switch ng-model="$ctrl.messaging" aria-label="messaging">
  <h3 class="md-title">{{'course.messaging' | translate}}</h3>
</md-switch>
<div ng-if="$ctrl.messaging">
  <md-button ng-click="$ctrl.chooseAllMessages()">choose all</md-button>
  <div layout="column">
    <md-switch class="sub-switch" ng-model="$ctrl.single" aria-label="single">
      <p class="md-body-1">{{'course.singleMessaging' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.group" aria-label="group">
      <p class="md-body-1">{{'course.groupMessaging' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.addingOfIndividualUsers" aria-label="adding Of Individual Users">
      <p class="md-body-1">{{'course.addingOfIndividualUsersToMessageFeeds' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.postingMessageContent" aria-label="posting Message Content">
      <p class="md-body-1">{{'course.postingMessageContentToForum' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.notifications" aria-label="Notifications">
      <p class="md-body-2">{{'course.notifications' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="$ctrl.notifications">
      <md-switch class="sub-switch child" ng-model="$ctrl.emailNotifications" aria-label="emailNotifications">
        <p class="md-body-1">{{'course.emailNotifications' | translate}}
          <md-tooltip md-direction="right">
            text of respective message in email
          </md-tooltip>
        </p>
      </md-switch>
      <md-switch class="sub-switch child" ng-model="$ctrl.replyByMail" aria-label="replyByMail">
        <p class="md-body-1">{{'course.replyByMail ' | translate}}
          <md-tooltip md-direction="right">
            Hit answer in email sends message to user on platform
          </md-tooltip>
        </p>
      </md-switch>
    </div>
    <md-switch class="sub-switch" ng-model="$ctrl.attachments" aria-label="attachments">
      <p class="md-body-1">{{'course.attachments' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.embedresources" aria-label="embedresources">
      <p class="md-body-1">{{'course.embedresources' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.markingAndOrganizingOfMessages" aria-label="markingAndOrganizingOfMessages">
      <p class="md-body-2">{{'course.markingAndOrganizingOfMessages' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="$ctrl.markingAndOrganizingOfMessages">
      <md-switch class="sub-switch child" ng-model="$ctrl.readUnread" aria-label="readUnread">
        <p class="md-body-1">Read/unread</p>
      </md-switch>
      <md-switch class="sub-switch child" ng-model="$ctrl.tagging" aria-label="tagging">
        <p class="md-body-1">{{'course.tagging ' | translate}}</p>
      </md-switch>
    </div>
    <md-switch class="sub-switch" ng-model="$ctrl.sendMessagesWithHighPriority" aria-label="sendMessagesWithHighPriority">
      <p class="md-body-2">{{'course.sendMessagesWithHighPriority' | translate}}</p>
    </md-switch>
    <div class="column" ng-if="$ctrl.sendMessagesWithHighPriority">
      <md-switch class="sub-switch child" ng-model="$ctrl.notificationsDependentOnPriorityOfMessage" aria-label="notificationsDependentOnPriorityOfMessage">
        <p class="md-body-1">{{'course.notificationsDependentOnPriorityOfMessage ' | translate}}</p>
      </md-switch>
    </div>
    <md-switch class="sub-switch" ng-model="$ctrl.setRemindersForMessages" aria-label="setRemindersForMessages">
      <p class="md-body-1">{{'course.setRemindersForMessages ' | translate}}
        <md-tooltip md-direction="right">
          Remind me in 24 hours
        </md-tooltip>
      </p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.markAsReadUnread" aria-label="markAsReadUnread">
      <p class="md-body-1">{{'course.markAsReadUnread ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.receiveReadReceipts" aria-label="receiveReadReceipts">
      <p class="md-body-1">{{'course.receiveReadReceipts ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.sendPlatformInviteToEmailAddress" aria-label="sendPlatformInviteToEmailAddress">
      <p class="md-body-1">{{'course.sendPlatformInviteToEmailAddress ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.enterSubjectToMessage" aria-label="enterSubjectToMessage">
      <p class="md-body-1">{{'course.enterSubjectToMessage  ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch" ng-model="$ctrl.sortMessages" aria-label="sortMessages">
      <p class="md-body-1">{{'course.sortMessages' | translate}}</p>
    </md-switch>
  </div>
</div>
