<div layout layout-align="center center" flex class="l-login-background" ng-controller="ForgottenPasswordCtrl as forgotten">
  <div class="md-whiteframe-z2">
    <md-toolbar class="md-primary">
      <div flex class="md-toolbar-tools">
        <h2>{{ 'forgottenPasswordForm.forgottenPassword' | translate }}</h2>
        <div layout="row"  layout-align="end center" flex>
          <translate-switcher></translate-switcher>
        </div>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <form name="forgottenPassword">
        <div layout="row">
          <md-input-container flex>
            <label>{{'forgottenPasswordForm.email' | translate}}</label>
            <input name="email" ng-model="forgotten.user.email" type="email" required>
            <div ng-messages="userRegister.user.email.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">{{'thisFieldIsRequired' | translate}}</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row"  layout-align="end center" flex>
          <md-button type="submit" class="md-raised md-primary" ng-click="forgotten.submit(forgottenPassword, user)">
             <md-progress-circular class="md-warn" md-mode="indeterminate" ng-hide="forgotten.send"></md-progress-circular>
             <div ng-show="forgotten.send">{{ 'forgottenPasswordForm.forgotten' | translate }}</div>
          </md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>
