<div layout layout-align="center center" flex class="l-login-background">
  <div class="md-whiteframe-24dp l-content-background">
    <div layout="row" layout-align="center center" flex>
      <div class="md-whiteframe-z2">
        <md-toolbar class="md-primary">
          <div flex class="md-toolbar-tools">
            <h2>{{'forgottenPasswordForm.resetPassword' | translate}}</h2>
            <div layout="row"  layout-align="end center" flex>
              <translate-switcher></translate-switcher>
            </div>
          </div>
        </md-toolbar>
        <div layout-padding="">
          <form name="resetPassword">
            <div layout="row" >
              <md-input-container flex>
                <label>{{'forgottenPasswordForm.password' | translate}}</label>
                <input name="password" ng-model="ResetPassword.user.password" type="password" minlength="8" required>
                <div ng-messages="resetPassword.password.$error">
                  <div ng-message="minlength">At least 8 characters</div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>{{'forgottenPasswordForm.passwordConfirmation' | translate}}</label>
                <input ng-model="ResetPassword.user.password_confirmation" type="password" compare-to="ResetPassword.user.password" minlength="8" required>
                <div ng-messages="resetPassword.password_confirmation.$error">
                  <div ng-message="minlength">At least 8 characters</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row"  layout-align="end center" flex >
              <md-button type="submit" class="md-raised md-primary" ng-click="ResetPassword.submit(resetPassword, user)">
                 <md-progress-circular class="md-warn" md-mode="indeterminate" ng-show="ResetPassword.user.waiting"></md-progress-circular>
                 <div ng-hide="ResetPassword.user.waiting">{{ 'forgottenPasswordForm.save' | translate }}</div>
              </md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
