<md-dialog aria-label="Add new file">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'storage.addNewFile' | translate }}</h2>
        <div layout="column" layout-align="center end" flex>
          <md-button class="md-icon-button" ng-click="::$ctrl.cancel()">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <md-input-container flex>
      <label>{{'storage.selectStorage' | translate}}</label>
        <md-select
          ng-model="$ctrl.storage.storageType"
          placeholder="{{'storage.selectStorage' | translate}}"
          class="md-no-underline"
          ng-change="$ctrl.storage.storageType === 'url' && $ctrl.checkWhatCanBeAddedToSpecificPhase()"
        >
          <md-option value="file">File</md-option>
          <md-option value="url">Url</md-option>
        </md-select>
      </md-select>
    </md-input-container flex>

    <md-dialog-content ng-show="::$ctrl.storage.storageType">
      <md-content layout="column" flex layout-align="center center" ng-if="$ctrl.storage.storageType === 'file'">
        <span>{{ $ctrl.fileName }}</span>
        <md-button ngf-select="::$ctrl.upload($file, $invalidFiles, $event)"
                   accept="{{::$ctrl.acceptFile}}"
                   ng-model="$ctrl.file"
                   name="avatar"
                   md-no-ink class="md-primary"
                   ng-hide="$ctrl.storage.file"
                   >
            {{'addFile' | translate}}
       </md-button>
        <md-button aria-label="remove pdf"  ng-show="$ctrl.storage.file" class="md-primary" ng-click="$ctrl.clear()">
            {{'removeFile' | translate}}
        </md-button>
        <md-progress-circular ng-show="MyProfileCtrl.uploading" md-mode="indeterminate"></md-progress-circular>
      </md-content>
      <md-content layout="column" flex layout-align="center center" ng-show="$ctrl.storage.storageType === 'url'">
        <md-input-container>
          <label>{{ 'storage.link' | translate}}</label>
          <input ng-model="$ctrl.storage.url" type="url">
        </md-input-container>
      </md-content>
      <div layout="column" flex layout-align="center center" layout-padding>
        <md-input-container>
          <label>{{ 'storage.Description' | translate}}</label>
          <input ng-model="$ctrl.storage.description" type="text">
        </md-input-container>

        <div layout="column"
          ng-show="$ctrl.storage.storageType === 'url' || $ctrl.file"
        >
          <md-checkbox
            ng-repeat="phase in $ctrl.phases"
            ng-model="$ctrl.phaseData[phase.id]"
            aria-label="Checkbox 1"
            ng-disabled="phase.disabled"
          >
            {{::phase.title}} [{{::phase.start_date}} - {{::phase.end_date}}]
          </md-checkbox>
        </div>

        <md-button class="md-raised md-primary" ng-click="::$ctrl.submit(user.id)">upload</md-button>
      </div>
    </md-dialog-content>
  </md-dialog>
