<div class="create-course" flex>
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="l-content-background" layout-padding>
    <form name="courseForm" ng-submit="Create.submit()">
      <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="Create.selectedIndex" >
        <!-- step 1 -->
        <md-tab label="step 1. main">
          <md-content layout="column" class="md-padding l-content-background">
            <div layout="column">
              <md-input-container>
                <label>Title</label>
                <input ng-model="Create.course.title">
              </md-input-container>
              <md-input-container>
                <label>Description</label>
                <input ng-model="Create.course.description">
              </md-input-container>
              <div layout="column">
                <div class="">
                  <label>Enter start date</label>
                  <md-datepicker ng-model="Create.course.start_date"></md-datepicker>
                </div>
                <div>
                  <label>Enter end date</label>
                  <md-datepicker ng-model="Create.course.end_date"></md-datepicker>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>

        <!-- step 2 -->
        <communication></communication>

        <!-- step 3 -->
        <storage-directive></storage-directive>

        <!-- step 4 -->
        <productivity></productivity>

        <!-- step 5 -->
        <publishing></publishing>

        <!-- step 6 -->
        <permissions></permissions>

      </md-tabs>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="Create.prevTab()">Back</md-button>
      <md-button class="md-raised md-primary" ng-click="Create.nextTab()">{{Create.buttonTitle}}</md-button>
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-warn"  type="submit">{{'course.addNewCourse' | translate}}</md-button>
    </div>
    </form>
  </md-content>
</div>
