<div class="create-course" flex>
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="l-content-background" layout-padding>
    <form name="courseForm">
      <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="Create.selectedIndex">
        <!-- step 1 -->
        <md-tab label="step 1. main">
          <md-content layout="column" class="md-padding l-content-background">
            <div layout="column">
              <md-input-container>
                <label>Course title</label>
                <input ng-model="Create.course.title">
              </md-input-container>
              <md-input-container>
                <label>Course Description</label>
                <input ng-model="Create.course.description">
              </md-input-container>
              <div layout="column">
                <div class="">
                  <label>Enter start date</label>
                  <md-datepicker ng-model="Create.course.start_date"></md-datepicker>
                </div>
                <div>
                  <label>Enter end date</label>
                  <md-datepicker ng-model="Create.course.end_date"></md-datepicker>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>

        <!-- step 2 -->
        <communication></communication>

        <!-- step 3 -->
        <storage></storage>

        <!-- step 4 -->
        <productivity></productivity>

        <!-- step 5 -->
        <publishing></publishing>
        
      </md-tabs>
    </form>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="Create.prevTab()">Back</md-button>
      <md-button class="md-raised md-primary" ng-click="Create.nextTab()">Next</md-button>
    </div>
    <!-- <div class="">
      {{Create.course | json}}
    </div> -->
  </md-content>
</div>
