<div class="create-course" flex>
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="l-content-background" layout-padding>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="Create.selectedIndex">
      <md-tab label="step 1. main">
        <md-content layout="column" class="md-padding l-content-background">
          <div layout="column">
            <md-input-container>
              <label>Course title</label>
              <input ng-model="Create.title">
            </md-input-container>
            <md-input-container>
              <label>Course Description</label>
              <input ng-model="Create.description">
            </md-input-container>
          </div>
        </md-content>
      </md-tab>
      <communication></communication>
      <storage></storage>
    </md-tabs>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="Create.prevTab()">Back</md-button>
      <md-button class="md-raised md-primary" ng-click="Create.nextTab()">Next</md-button>
    </div>
  </md-content>
</div>
