/* 1. Base*/
md-content {
    background-color: #f5f5f5;
  }

md-badge{
  margin: 0 0 0 8px;
  background-color: rgb(255,171,64);
  color: #000;
  padding: 2px 4px;
  border-radius: 25%;
}

md-datepicker {
    padding-top: 13px;
  }

.sublist span {
  padding-left: 25px;
  line-height: 15px;
}

.sub-switch {
  margin: 0;
  padding-left: 15px;
}
.sub-switch.child {
  padding-left: 30px;
}

.sub-switch.sub-child {
  padding-left: 45px;
}

.layout-row{
  overflow: hidden;
}

.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.toast-top-center {
  margin-top: 35px;
}

/* 2. layout*/
#leftsidebar {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

#rightsidebar {
  max-width: 1120px;
  width: 1120px;
}

.l-login-background {
  background-image: url('../images/bg.jpg');
  background-size: cover;

}

.l-content-background {
  background-color: #fff;
}

/* 3. modules*/
.photoBox {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}
.course md-input-container, .myprofile md-input-container {
  padding: 0;
  margin: 0;
}

.course .md-button, .myprofile .md-button {
    height: 36px;
}

.myprofile md-card-title{
  margin-bottom: 20px;
}

.myprofile md-card {
  background: none;
  box-shadow: none;
}

.myprofile md-select{
  margin-top: 5px;
  margin-left: 10px;
}

.myprofile .md-errors-spacer{
  height: 0;
  min-height: inherit;
}

.myprofile md-divider{
  margin: 40px 0;
}

.candidates, .settings {
  padding: 24px;
}

.candidates .main {
  font-weight: bold;
}

.addcandidate .md-datepicker-input{
  min-width: 180px;
}

.addnewuser .md-chips {
  margin-bottom: 18px;
}

.addnewuser .icon-button-input {
    margin: 18px 0;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
}

.addnewuser .addimage {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
}


.sidenav md-list-item .md-no-style.md-button{
  margin: 0;
  font-weight: 400;
}

.course-view .md-title,
.course-view .md-subhead {
  margin: 0;
}

.course-view md-card {
    width: 32%;
    float: left;
}

.file-uploader md-dialog {
  max-width: 100%;
}
/* 4. state*/

.md-card-image {
  width: 250px;
  float: left;
  margin: 10px;
}


.validation-messages {
  color: #dd2c00;
  padding-left: 65px;
  margin-bottom: 20px;
  font-size: 12px;
}

.link {
  margin: 5px;
  color: #999;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.courses-list-item {
  padding: 0;
  margin: 10px 0;
  background-color: #eee;
  font-size: 14px;
}

.courses-list-item-title {
  text-transform: capitalize;
  cursor: pointer;
}

.courses-list-item-participants {
  cursor: pointer;
  padding-left: 5px;
  margin-top: 5px;
}

.courses-list-item-title:hover,
.courses-list-item-participants:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
