<md-switch ng-model="Create.personalWorkspace" aria-label="personalWorkspace">
  <h3 class="md-title">{{'course.personalWorkspace' | translate}}</h3>
</md-switch>
<div ng-if="Create.personalWorkspace">
  <md-switch class="sub-switch" ng-model="Create.personal.defineVisibility" aria-label="defineVisibility">
    <p class="md-body-1">{{'course.defineVisibility' | translate}}</p>
  </md-switch>
  <md-switch class="sub-switch" ng-model="Create.personal.shareWorkspaceWithOthers" aria-label="shareWorkspaceWithOthers">
    <p class="md-body-1">{{'course.shareWorkspaceWithOthers' | translate}}</p>
  </md-switch>
  <md-switch class="sub-switch" ng-model="Create.personal.fileSharing" aria-label="fileSharing">
    <p class="md-body-2">{{'course.fileSharing' | translate}}</p>
  </md-switch>
  <div class="column" ng-if="Create.personal.fileSharing">
    <md-switch class="sub-switch child" ng-model="Create.personal.embedFromExternalWebsites" aria-label="embedFromExternalWebsites">
      <p class="md-body-1">{{'course.embedFromExternalWebsites ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.shareOwnMaterialOnPlatform" aria-label="shareOwnMaterialOnPlatform">
      <p class="md-body-1">{{'course.shareOwnMaterialOnPlatform' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.publishingOfDrafts" aria-label="publishingOfDrafts">
      <p class="md-body-1">{{'course.publishingOfDrafts ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.publishingOfFinalSubmission" aria-label="publishingOfFinalSubmission">
      <p class="md-body-1">{{'course.publishingOfFinalSubmission' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.defineVisibilityOfFiles" aria-label="defineVisibilityOfFiles">
      <p class="md-body-1">{{'course.defineVisibilityOfFiles' | translate}}</p>
    </md-switch>
  </div>
  <md-switch class="sub-switch" ng-model="Create.personal.calendar" aria-label="calendar">
    <p class="md-body-2">{{'course.calendar' | translate}}</p>
  </md-switch>
  <div class="column" ng-if="Create.personal.calendar">
    <md-switch class="sub-switch child" ng-model="Create.personal.personalCalendar" aria-label="personalCalendar">
      <p class="md-body-1">{{'course.personalCalendar' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.groupCalendar" aria-label="groupCalendar">
      <p class="md-body-1">{{'course.groupCalendar' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.showCoursePhases" aria-label="groupCalendar">
      <p class="md-body-1">{{'course.showCoursePhases' | translate}}</p>
    </md-switch>
  </div>
  <md-switch class="sub-switch" ng-model="Create.personal.coursePhases" aria-label="coursePhases">
    <p class="md-body-2">{{'course.coursePhases' | translate}}</p>
  </md-switch>
  <div class="column" ng-if="Create.personal.coursePhases">
    <md-switch class="sub-switch child" ng-model="Create.personal.showCoursePhases" aria-label="groupCalendar">
      <p class="md-body-1">{{'course.showCoursePhases' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.teacherDefineCourseStartEnd" aria-label="teacherDefineCourseStartEnd">
      <p class="md-body-1">{{'course.teacherDefineCourseStartEnd ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.defineCoursePhases" aria-label="defineCoursePhases">
      <p class="md-body-1">{{'course.defineCoursePhases ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.defineCoursePhases" aria-label="defineCoursePhases">
      <p class="md-body-1">{{'course.defineCoursePhases ' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.defineFrozenContent" aria-label="defineFrozenContent">
      <p class="md-body-1">{{'course.defineFrozenContent' | translate}}</p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.matchPlatformContentWithEespectivePhase" aria-label="matchPlatformContentWithEespectivePhase">
      <p class="md-body-1">
        {{'course.matchPlatformContentWithEespectivePhase' | translate}}
        <md-tooltip md-direction="right">e.g. Colour coding</md-tooltip>
      </p>
    </md-switch>
    <md-switch class="sub-switch child" ng-model="Create.personal.defineNewSectionsInEach" aria-label="defineNewSectionsInEach">
      <p class="md-body-1">{{'course.defineNewSectionsInEach ' | translate}}</p>
    </md-switch>
  </div>
</div>
