<md-list>
  <md-list-item aria-controls="childListId">
    <img ng-src="{{user.size_64x64.url}}" alt="" ng-show="user.size_64x64.url"/>
    {{user.firstname}} {{user.lastname}}
    <md-divider></md-divider>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('')">
    <span><md-icon>forum</md-icon> {{'forum' | translate}}</span>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('')">
    <span><md-icon>message</md-icon> {{'messages' | translate}}</span>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('myProfile')">
    <span><md-icon>face</md-icon> {{'sideNav.myProfile' | translate}}</span>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('admin')" ng-if="user.role_id === 6">
    <span><md-icon>people</md-icon> {{'adminPanel' | translate}}</span>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('')">
    <span><md-icon>border_color</md-icon> {{'workspace' | translate}}</span>
  </md-list-item>
    <md-list-item aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('')">
    <span><md-icon>assignment</md-icon> {{'assignment' | translate}}</span>
  </md-list-item>
  <md-list-item aria-controls="childListId" ng-click="null" ng-if="user.role_id > 3">
    <span><md-icon>list</md-icon> {{'courses' | translate}}</span>
  </md-list-item>
  <md-list-item class="sublist" aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('create-course')" ng-if="user.role_id > 3">
    <span>- {{'createCourse' | translate}}</span>
  </md-list-item>
  <md-list-item class="sublist" aria-controls="childListId" ng-click="SideNavCtrl.goToUrl('courses-list')" ng-if="user.role_id > 3">
    <span>- {{'courses' | translate}}</span>
  </md-list-item>
</md-list>
