$secondary-text: rgba(0,0,0,0.54);

.r-course-view {
  .rcv-tab-content {
    padding: 10px;
    border: 1px solid #e1e1e1;
  }

  .rcv-tab-header {
    padding: 15px;
  }

  .rcv-tab-headline {
    padding: 5px 0;
  }

  .rcv-date {
    color: $secondary-text;
    font-weight: bold;
    font-size: 16px;
  }

  .rcv-date-label {
    text-transform: capitalize;
    font-weight: normal;
    display: inline-block;
    min-width: 80px;
    &:after {
      display: inline;
      content: ":";
    }
  }

  .rcv-files-header {
    padding: 0 15px;
  }

  .rcv-active {
    color: green;
  }

  .rcv-archived {
    color: rgba(0,0,0,0.22);
  }
}