<div class="course-view" flex>
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="l-content-background" layout-padding>
    <md-toolbar class="md-table-toolbar md-default">
      <div layout="row">
        <div layout="column">
          <p class="md-title">{{::CourseView.course.title}}</p>
          <p class="md-subhead">{{::CourseView.course.description}}</p>
        </div>
        <div flex layout="column" layout-align="end end">
          <p class="md-subhead">
            {{'startDate'| translate}}: {{::CourseView.course.start_date}}
          </p>
          <p class="md-subhead">
            {{'endDate'| translate}}: {{::CourseView.course.end_date}}
          </p>
        </div>
      </div>
    </md-toolbar>
    <md-divider></md-divider>
    <div layout="row">
      <div>
        {{'Files' | translate}}
      </div>
      <div flex layout="row" layout-align="end end">
        <md-button
          class="md-raised md-primary"
          ng-if="::user.role_id >= 2"
          ng-click="::CourseView.addNewFile($event, user.id)">
        {{ 'storage.addNewFile' | translate }}
      </md-button>
      </div>
    </div>
    <div>
      <md-card ng-repeat="file in CourseView.files">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-if="::file.url != null"><a href="{{::file.url}}" target="blank">{{ ::file.description }}</a></span>
            <span class="md-headline" ng-if="::file.url == null">{{ ::file.description }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <a href="{{ ::file.file }}" class="md-button" ng-if="::file.file != null">download</a>
          <md-button
            ng-if="::user.role_id > 3"
            ng-click="::CourseView.removeFile(CourseView.courseId, file.id)">
            {{ 'storage.remove' | translate}}
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
