<div layout="row" layout-align="center center" flex>

  <div class="md-whiteframe-z2">

    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Login to Leuphana</span></h2>
    </md-toolbar>

    <form layout="column" style="width: 400px" layout-padding name="userForm" ng-submit="$ctrl.login($ctrl.loginForm)">
      <md-input-container>
        <label>Email</label>
        <input name="email" type="email" ng-model="$ctrl.loginForm.email" required/>
        <div ng-messages="userForm.email.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="$ctrl.loginForm.password" required/>
        <div ng-messages="userForm.password.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <div ng-show="$ctrl.validateError">
        Wrong password or email
      </div>
      <div layout="row" flex layout-align="center center">
        <md-button flex type="submit" class="md-raised md-primary">Login</md-button>
        <md-button flex ng-click="$ctrl.registerAsGuest()" class="md-raised">Register as guest</md-button>
      </div>
      <div layout="row" flex layout-align="center center">
        <md-button flex ng-click="$ctrl.forgottenPassword()" class="md-raised">Forgotten password?</md-button>
      </div>
    </form>
  </div>
</div>
