<md-tab label="{{'profiles' | translate}}" >
  <md-content class="md-padding">
    <form name="userRegister">
      <div layout="row">
        <div layout="column" flex="20" ng-show="create.user.role">
          <div layout="column"
               class="addimage layout-margin"
               flex
               layout-align="center center"
               ngf-background="create.avatar || ' '"
               ngf-size="{width: 200, height: 200, quality: 0.9}">

               <div class="addImage">
                 <md-button ngf-select="create.uploadImage($file, $invalidFiles, $event)"
                            accept="image/*"
                            ngf-max-height="1000"
                            ng-model="create.user.avatar"
                            name="avatar"
                            md-no-ink class="md-primary"
                            ng-hide="create.avatar">
                     Dodaj zdjęcie
                </md-button>
                 <md-button aria-label="remove pdf"  ng-show="create.user.avatar" class="md-primary" ng-click="create.removeImage()">
                     Usuń zdjęcie
                 </md-button>
               </div>
               <md-progress-circular ng-show="create.user.uploadingImage" md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
        <div layout="column" flex>
          <div layout="row">
            <md-input-container flex>
              <label>{{'selectRole' | translate}}</label>
              <md-select ng-model="create.user.role">
                <md-option ng-repeat="role in create.roles" value="{{role}}">
                  {{role}}
                </md-option>
              </md-select>
            </md-input-container flex>
            <md-input-container flex ng-show="create.user.role">
              <label>{{'title' | translate}}</label>
              <input ng-model="create.user.title" type="text">
            </md-input-container>
            <md-input-container flex ng-show="create.user.role">
              <label>{{'firstname' | translate}}</label>
              <input ng-model="create.user.firstname" type="text">
            </md-input-container >
            <md-input-container flex ng-show="create.user.role">
              <label>{{'lastname' | translate}}</label>
              <input ng-model="create.user.lastname" type="text">
            </md-input-container>
          </div>
          <div layout="row" ng-show="create.user.role">
            <md-input-container flex>
              <label>{{'gender' | translate}}</label>
              <md-select ng-model="create.user.gender">
                <md-option ng-repeat="gender in create.genders" value="{{gender}}">
                  {{gender}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{'country' | translate}}</label>
              <md-select ng-model="create.user.country">
                <md-option ng-repeat="country in create.countries" value="{{country.code}}">
                  {{country.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{'birthDate' | translate}}</label>
              <input ng-model="create.user.birthdate" type="number">
            </md-input-container>
          </div>
        </div>
      </div>
      <div layout="row" ng-show="create.user.role">
        <md-input-container flex>
          <label>{{'educationalAttainment' | translate}}</label>
          <md-select ng-model="create.user.educational_attainment">
            <md-option ng-repeat="attainment in create.educational_attainments" value="{{attainment}}">
              {{attainment}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>{{'profession' | translate}}</label>
          <input ng-model="create.user.profession" type="text">
        </md-input-container>
        <md-input-container flex>
          <label>{{'interests' | translate}}</label>
          <input ng-model="create.user.interests" type="text">
        </md-input-container>
      </div>
      <div layout="row" ng-show="create.user.role">
        <md-input-container flex>
          <label>{{'introduction' | translate}}</label>
          <input ng-model="create.user.introduction" type="text">
        </md-input-container>
        <md-input-container flex>
          <label>{{'password' | translate}}</label>
          <input ng-model="create.user.password" type="password">
        </md-input-container>
      </div>
      <div class="">
        {{create.user | json}}
      </div>
      <div layout="row" flex layout-align="space-around center">
        <md-input-container>
          <md-checkbox ng-model="create.user.honor_code" aria-label="Checkbox 1" required>
            {{'honorCode' | translate}}
          </md-checkbox>
        </md-input-container>
        <md-input-container>
          <md-checkbox ng-model="create.user.terms_and_conditions" aria-label="Checkbox 2" required>
            {{'termsAndConditions' | translate}}
          </md-checkbox>
        </md-input-container>
        <md-input-container>
          <md-checkbox ng-model="create.user.data_privacy" aria-label="Checkbox 3" required>
            {{'dataPrivacy' | translate}}
          </md-checkbox>
        </md-input-container>
      </div>
      <div layout="row"  layout-align="end center" flex ng-show="create.user.role">
        <md-button type="submit" class="md-raised md-primary" ng-click="create.submit(userRegister, user)">
           <md-progress-circular class="md-warn" md-mode="indeterminate" ng-show="create.user.waiting"></md-progress-circular>
           <div ng-hide="create.user.waiting">{{ 'create' | translate }}</div>
        </md-button>
      </div>
    </form>
  </md-content>
</md-tab>
