<md-tab label="{{'admin.users.header' | translate}}" >
  <md-content class="md-padding l-content-background">
    <form name="userRegister">
      <div layout="row">
        <div layout="column" flex>
          <div layout="row">
            <md-input-container flex>
              <label>{{'admin.users.selectRole' | translate}}</label>
              <md-select ng-model="create.role">
                <md-option ng-repeat="role in create.roles" value="{{role}}">
                  {{role}}
                </md-option>
              </md-select>
            </md-input-container flex>
            <md-input-container flex ng-show="create.role">
              <label>{{'admin.users.firstname' | translate}}*</label>
              <input ng-model="create.user.firstname" type="text" required>
            </md-input-container >
            <md-input-container flex ng-show="create.role">
              <label>{{'admin.users.lastname' | translate}}*</label>
              <input ng-model="create.user.lastname" type="text" required>
            </md-input-container>
            <md-input-container flex ng-show="create.role">
              <label>{{'admin.users.email' | translate}}*</label>
              <input ng-model="create.user.email" type="email" required>
            </md-input-container>
          </div>
        </div>
      </div>
      <div layout="row"  layout-align="end center" flex ng-show="create.role">
        <md-button type="submit" class="md-raised md-primary" ng-click="create.submit(userRegister, user)">
           <md-progress-circular class="md-warn" md-mode="indeterminate" ng-show="create.user.waiting"></md-progress-circular>
           <div ng-hide="create.user.waiting">{{ 'admin.users.create' | translate }}</div>
        </md-button>
      </div>
    </form>
  </md-content>
</md-tab>
